# OS / editor
.DS_Store
*.swp
.idea/
.vscode/

# Backend (Gradle / Java)
backend/.gradle/
backend/build/
backend/bin/
backend/out/

# Frontend (Flutter)
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/build/
frontend/.packages
frontend/pubspec.lock

# Generated sources (recreated by build_runner; the Docker build regenerates them)
frontend/**/*.freezed.dart
frontend/**/*.g.dart

# Local data / assets
data/
*.log
